<form>
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" 
        id="name" placeholder="Nome">
    </div>

    <div class="form-group">
        <label for="model">Modelo</label>
        <br>
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
            Selecionar <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
                <option type="enum" value="0">something</option>
              <li role="1"><a class="dropdown-item" href="#">Turboélice</a></li>
              <li role="2"><a class="dropdown-item" href="#">Jato</a></li>
              <li role="3"><a class="dropdown-item" href="#">Supersônicos</a></li>
            </ul>
        </div>
    </div>

    //Ao cadastrar uma aeronave com o nome e o modelo, gerar um NumberControl!

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>