<form>
    <div>
        <button class="btn btn-primary" (click)="seeOldInformation()">See old information!</button>
        <div *ngIf="see">
            <ul>
                <li>Name: {{ aircraft.name }}</li>
                <li>Model: {{ aircraft.model }}</li>
            </ul>
        </div>
        <br><br>
    </div>

    <div><p style="font-size: 14px; color: #6c63ff; font-weight: bold;">SET NEW INFORMATION:</p></div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" 
        placeholder="Name" [(ngModel)]="name" name="" [ngModelOptions]="{standalone: true}" required>
    </div>

    <div class="form-group">
        <label for="model">Model</label>
        <br>
        <div class="btn-group" dropdown>
            <select id="model" class="btn btn-primary dropdown-toggle" 
            [(ngModel)]="model" model="" [ngModelOptions]="{standalone: true}">
                <option value="Turboprop">Turboprop</option>
                <option value="Jet">Jet</option>
                <option value="Supersonic">Supersonic</option>
            </select>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" (click)="updateAircraft()" [disabled]="submitDisabled()">Update</button>
    </div>
</form>
