<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" 
        placeholder="Name" [(ngModel)]="name" name="" [ngModelOptions]="{standalone: true}" required>
    </div>

    <div class="form-group">
        <label for="model">Model</label>
        <br>
        <div class="btn-group" dropdown>
            <select id="model" class="btn btn-primary dropdown-toggle" 
            [(ngModel)]="model" model="" [ngModelOptions]="{standalone: true}">
                <option value="Turboprop">Turboprop</option>
                <option value="Jet">Jet</option>
                <option value="Supersonic">Supersonic</option>
            </select>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" (click)="updateAircraft()" [disabled]="submitDisabled()">Update</button>
        <!--Fazer com que o botão só esteja disponível para clicar após o preenchimento dos campos name e model, talvez com um *ngIf-->
    </div>
</form>
