<nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">AIRCRAFTS</a>
      </div>
  
      <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/RegisterAircrafts">Register Aircraft</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ClearAll">Clear All</a>
          </li>
      </ul>
    </div>
</nav>

  
<div class="container">

  <div class="form-image">
    <img src="assets\aeronave-img.svg" alt="Aircraft Image">
  </div>

  <router-outlet></router-outlet>

</div>







